:root {
  --tools-count: 2;
}
window {
  max-width: 100vw;
  width: 100vh;
}
/* Disable text selection */
body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  margin: 0;
  font-family: "Baloo Da 2", cursive;
  max-width: 100vw;
  max-height: 100vh;
  width: 100vw;
  height: 100vh;
  cursor: crosshair;
  overflow: hidden;
}

canvas {
  position: absolute;
  z-index: -1;
}

input {
  font-family: "Baloo Da 2", cursive;
}
.nav {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 5em auto 14em;
  grid-template-rows: auto 5em;
  grid-template-areas:
    "tools . controls"
    "settings . download";
}

.tools {
  display: grid;
  grid-area: tools;
  grid-template-columns: 5em;
  grid-template-rows: repeat(var(--tools-count), 3em);
  justify-items: center;
  row-gap: 1em;
}
.tools > div {
  width: 3em;
  height: 3em;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.brush {
  background-image: url(img/pencil.svg);
}
.eraser {
  position: relative;
  background-image: url(img/eraser.svg);
}

.controls {
  display: grid;
  grid-area: controls;
  grid-template-columns: 2em 10em;
  grid-template-rows: 2em 3em;
  grid-template-areas:
    "paint-size-out paint-size-in"
    "color-label color-label";
  column-gap: 1em;
  row-gap: 1em;
}
.paint-size-out {
  grid-area: paint-size-out;
  font-weight: 700;
  font-size: 24px;
}
.paint-size-in {
  grid-area: paint-size-in;
  cursor: pointer;
}
.color {
  width: 1px;
  height: 1px;
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 7em;
  right: 0px;
}
.color-label {
  display: grid;
  grid-area: color-label;
  justify-content: center;
}
.color-label-element {
  width: 3em;
  height: 3em;
  grid-area: color;
  background-color: black;
  border-radius: 5%;
  cursor: pointer;
  border-style: solid;
  border-width: 1px;
}

.download {
  display: grid;
  cursor: pointer;
  grid-area: download;
  grid-template-columns: auto 3em 1em;
  grid-template-rows: 5em;
  grid-template-areas: ". download-btn .";
  align-items: center;
}
.download-btn {
  width: 3em;
  height: 3em;
  grid-area: download-btn;
  background-image: url(img/download.svg);
  background-repeat: no-repeat;
}
.download-btn:hover > div {
  position: absolute;
  text-align: center;
  padding: 0 0.2em;
  right: 4.3em;
  bottom: 1.5em;
  background-color: #dfdfdf;
  color: #202020;
  border-radius: 5%;
  display: block;
}

.hide {
  display: none;
}

input[type="range"].paint-size-in {
  -webkit-appearance: none;
  width: 100%;
  margin: 8.8px 0;
  background-color: rgba(0, 0, 0, 0);
}

input[type="range"].paint-size-in:focus {
  outline: none;
}

input[type="range"].paint-size-in::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 2.3px 2.3px 3px rgba(0, 0, 0, 0.33), 0px 0px 2.3px rgba(13, 13, 13, 0.33);
  background: rgba(108, 59, 56, 0.21);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"].paint-size-in::-webkit-slider-thumb {
  box-shadow: 1.9px 1.9px 2.9px rgba(0, 0, 0, 0), 0px 0px 1.9px rgba(13, 13, 13, 0);
  border: 0.2px solid rgba(169, 154, 155, 0.37);
  height: 26px;
  width: 14px;
  border-radius: 9px;
  background: #5c5c5b;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type="range"].paint-size-in:focus::-webkit-slider-runnable-track {
  background: rgba(108, 59, 56, 0.21);
}

input[type="range"].paint-size-in::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 2.3px 2.3px 3px rgba(0, 0, 0, 0.33), 0px 0px 2.3px rgba(13, 13, 13, 0.33);
  background: rgba(108, 59, 56, 0.21);
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"].paint-size-in::-moz-range-thumb {
  box-shadow: 1.9px 1.9px 2.9px rgba(0, 0, 0, 0), 0px 0px 1.9px rgba(13, 13, 13, 0);
  border: 0.2px solid rgba(169, 154, 155, 0.37);
  height: 26px;
  width: 14px;
  border-radius: 9px;
  background: #5c5c5b;
  cursor: pointer;
}

input[type="range"].paint-size-in::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"].paint-size-in::-ms-fill-lower {
  background: rgba(108, 59, 56, 0.21);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 2.3px 2.3px 3px rgba(0, 0, 0, 0.33), 0px 0px 2.3px rgba(13, 13, 13, 0.33);
}

input[type="range"].paint-size-in::-ms-fill-upper {
  background: rgba(108, 59, 56, 0.21);
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 2.3px 2.3px 3px rgba(0, 0, 0, 0.33), 0px 0px 2.3px rgba(13, 13, 13, 0.33);
}

input[type="range"].paint-size-in::-ms-thumb {
  box-shadow: 1.9px 1.9px 2.9px rgba(0, 0, 0, 0), 0px 0px 1.9px rgba(13, 13, 13, 0);
  border: 0.2px solid rgba(169, 154, 155, 0.37);
  height: 26px;
  width: 14px;
  border-radius: 9px;
  background: #5c5c5b;
  cursor: pointer;
  height: 8.4px;
}

input[type="range"].paint-size-in:focus::-ms-fill-lower {
  background: rgba(108, 59, 56, 0.21);
}

input[type="range"].paint-size-in:focus::-ms-fill-upper {
  background: rgba(108, 59, 56, 0.21);
}

input:focus::placeholder {
  transition: 0.5s;
  color: white;
}
input::placeholder {
  transition: 0.5s;
  color: gray;
}
input::-webkit-input-placeholder {
  transition: 0.5s;
  color: white;
}
input:focus::-webkit-input-placeholder {
  transition: 0.5s;
  color: gray;
}
/* Firefox < 19 */
input:-moz-placeholder {
  transition: 0.5s;
  color: white;
}
input:focus:-moz-placeholder {
  transition: 0.5s;
  color: gray;
}

/* Firefox > 19 */
input::-moz-placeholder {
  transition: 0.5s;
  color: white;
}
input:focus::-moz-placeholder {
  transition: 0.5s;
  color: gray;
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
  transition: 0.5s;
  color: white;
}
input:focus:-ms-input-placeholder {
  transition: 0.5s;
  color: gray;
}
